$maxMobile:"(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(mix-width:768px)";
$minMedium:"(mix-width:992px)";
$minLarge:"(mix-width:1200px)";



$redColor: #e2494c;
$greyColor: #9c9c9c;

$float-left:left;
$float-right:right;